*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.container{
    height: 500px;
    width: 700px;
    background-color: azure;
    padding: 44px;
    border: 2px solid #141850;
    border-radius: 8px;
}

.container h2{
    font-size: 38px;
    color: rgb(41, 36, 44);
    margin-bottom: 3rem;
    
}

.container h2 span{
    color: coral;
    text-shadow: 1px 1px blueviolet;
    
}

.number{
    background-color: antiquewhite;
    color: coral;
    text-shadow: 1px 1px blueviolet;
    position: relative;
    width: 100%;
    font-size: 90px;
    padding: 14px;
    border: 2px solid blueviolet;
    border-radius: 8px;
    text-align: center;
    display: block;
    margin-bottom: 1rem;
}

.container button{
    outline: none;
    border: .2rem solid blueviolet;
    padding: .8rem 2rem;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 3rem;
    
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}